$primaryColor: #A6BFB6;
$secondaryColor: #3E5434;
$fontColor: #141312;

$defaultFont: "Karla", sans-serif;
$lightWeight: 200;
$normalWeight: 500;
$boldWeight: 800;

$gutter: 16px;

// tertiary colors
$darkNeutral: #DED6C3;
$lightNeutral: #E3DCCB;
$offBlack: #141312;
$offWhite: #f8f8f7
